{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>


    <script src="https://cdn.jsdelivr.net/npm/typeit@latest/dist/typeit.min.js"></script>

    <div id="typeit-container"></div>

    <script>
      new TypeIt("#typeit-container", {
        strings: [`{{ .Content | markdownify | safeJS }}`],
        speed: 50,
        breakLines: true
      }).go();
    </script>

    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
